
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}  header{
    margin-top:29px ;
    margin-left:36px ;
    font-size: 25px;
    font-weight: 25px;
    cursor: pointer;
    color: #4567b0;
 } 
 .ti{
    margin-left: 20px;
 }

.botao1{
    background: rgb(108, 237, 108);
    margin-left: 40px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    line-height: 24px;
    color: white;
}
botao1:active{ opacity: .5;
}
botao1:hover{
    opacity: .8;
}
img{margin-left: 80px;
    display: inline-block;

}
h1{
    font-weight:900 ;
    font-size:66px ;
    line-height: 122px;
    color:#161A49 ;
    width: 515px;
}
p{
    font-weight:400 ;
    font-size: 24px;
    line-height:29px ;
    color:#4b505a ;
    width:515px ;
}
button{
    border: none;
    color: #4567b0;
    font-size: 20px;
    background: transparent;
}
div{display: inline-block
    ;
}  
@media screen and (max-width:1452px ) {
  h1{
    text-align:center

  }            
}
    
 